<!DOCTYPE html>
<html lang="pt" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width">

    <link rel="stylesheet" href="normalize.css">

    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainCtrl">
    <header>
      <h1>JarJarDex</h1>
      <p>Uma enciclopédia Star Wars</p>
      <p>
          tipo pokedéx só que de star wars... <em>sacou</em>?
      </p>
    </header>
    <nav>
      <ul>
        <li>
          <a ng-click="showCharacters = !showCharacters">Personagens</a>
        </li>
        <li>
          <a ng-click="showWorlds = !showWorlds">Planetas</a>
        </li>
        <li>
          <a ng-click="showFilms = !showFilms">Filmes</a>
        </li>
        <li>
          <a ng-click="showShips = !showShips">Naves</a>
        </li>
        <li>
          <a ng-click="showCreatures = !showCreatures">Criaturas</a>
        </li>
      </ul>
    </nav>
    <section ng-if="showCharacters">
        <h2>Personagens</h2>
        <ul>
          <li ng-repeat="character in characters">
            <p>{{ character.name }}</p>
          </li>
        </ul>
    </section>
    <section ng-if="showWorlds">
        <h2>Planetas</h2>
    </section>
    <section ng-if="showFilms">
        <h2>Filmes</h2>
    </section>
    <section ng-if="showShips">
        <h2>Naves</h2>
    </section>
    <section ng-if="showCreatures">
        <h2>Criaturas</h2>
    </section>

    <footer>
        <p>
            App criado na Facens @ Janeiro / 2017
        </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
