<!DOCTYPE html>
<html lang="pt" ng-app="App">
<head>
    <meta charset="UTF-8">
</head>
<body ng-controller="MainCtrl">
    <nav>
      <ul>
        <li>
          <button ng-click="showCharacters = !showCharacters">Personagens</button>
        </li>
        <li>
          <button ng-click="showWorlds = !showWorlds">Planetas</button>
        </li>
        <li>
          <button ng-click="showFilms = !showFilms">Filmes</button>
        </li>
        <li>
          <button ng-click="showShips = !showShips">Naves</button>
        </li>
        <li>
          <button ng-click="showCreatures = !showCreatures">Criaturas</button>
        </li>
      </ul>
    </nav>
    <section ng-if="showCharacters">
        <h2>Personagens</h2>
        <ul>
          <li ng-repeat="character in characters">
            <p>{{ character.name }}</p>
          </li>
        </ul>
    </section>
    <section ng-if="showWorlds">
        <h2>Planetas</h2>
    </section>
    <section ng-if="showFilms">
        <h2>Filmes</h2>
    </section>
    <section ng-if="showShips">
        <h2>Naves</h2>
    </section>
    <section ng-if="showCreatures">
        <h2>Criaturas</h2>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
